header {
  background-color:rgb(226, 226, 226);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.MyCart {
    cursor: "pointer";
    margin-left: auto;
    user-select: "none", 
}

.Product {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  margin-left: auto;
}

.Product img{
  height: 640px;
}

.Left{
  flex:1;
}

.Right {
  flex: 1;
}

.Title {
  height: 3rem;
  font-weight: bold;
  font-size: large;
}

.Price {
  height: 30px;
  display: flex;
  align-items: center;
  border-top: 0.1rem solid rgb(218, 218, 218);
  border-bottom: 0.1rem solid rgb(218, 218, 218);
  font-weight: bold;
}

.Description {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  color: gray;
}

.Size {
  font-weight: bold;
  font-size: medium;
  margin-bottom: 15px;
}

/*size labels*/
.SizeLabels {
  display: flex;
  gap: 10px;
}

.SizeLabels button {
  padding: 10px 20px;
  border-radius: 0px;
  border: 1px solid rgb(203, 203, 203);
  background-color: white;
  color: black;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.2s;
}

.SizeLabels button.selected {
  background-color: #6ac7f6;
  color: rgb(0, 0, 0);
  border: 1px solid #000000;
}

.SizeLabels button:focus,
.SizeLabels button:focus-visible {
  outline: none;
} 

.AddButton {
  background-color: white;
  border: 1px solid black;
  border-radius: 0px;
  margin: 20px 0px;
}

.AddButton:focus,
.AddButton:focus-visible {
  outline: none;
}

.AddButton:hover {
  border-color: #6ac7f6;
}

.ErrorMsg{
  color: red;
}

/* Cart */
.Cart {
  position: absolute;
  min-height: 360px;
  width: 360px;
  background-color: #ffffff;
  border: 1px solid rgb(203, 203, 203);
  right: 0px;
}

.Item {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  margin-left: auto;
  height: 160px;
}

.ItemInfo{
  /* background-color: #6ac7f6; */
  flex: 1;
  margin-left: 20px;
}
